#ptexto1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#ptexto2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#ptexto3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
#ptexto4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
#ptexto5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}